:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label,
h1 {
  color: white !important;
}

.nav {
  background: transparent;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  ) !important;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

button {
  border-radius: 8px !important;
}

.form-container {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(50px) !important;
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 10px; /* Optional: round the corners */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Optional: apply a box shadow */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional: apply a border */
}

.form-item {
  width: 80%;
  color: white !important;
}

/* .form-item input {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
} */

.form-item input:placeholder {
  color: white !important;
}

/* .ant-select-selector {
  background: transparent !important;
  color: white !important;
} */

:where(.css-dev-only-do-not-override-1b0bdye).ant-select
  .ant-picker
  .ant-picker-suffix,
.ant-picker .ant-picker-clear,
.ant-picker-outlined,
.ant-select-selector,
.ant-select-arrow,
.ant-picker-separator,
.ant-input-outlined {
  color: white !important;
  background: transparent !important;
}
.ant-card-actions {
  color: white !important;
  background: transparent !important;
  border: none !important;
}

.ant-card-meta-description,
.ant-card-meta-title {
  color: white !important;
}

.ant-select-selection-placeholder,
.ant-picker-input > input::placeholder,
.ant-picker-suffix,
.ant-form-item-control-input-content input::placeholder {
  color: darkgrey !important;
}

.form-item input:focus {
  outline: none;
  /* color: darkgrey !important; */
  border-bottom: 1px solid #00ffff;
}

.heading {
  color: #00ffff !important;
}
li {
  border: none !important;
}

.ant-card-cover img {
  border-radius: 10px !important;
}

/* .ant-picker-dropdown .ant-picker-panel-container {
  background: transparent !important;
  border: white 1px solid;
}

.ant-picker-dropdown .ant-picker-header {
  color: white;
} */

.appointment-card {
  color: white !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(50px) !important;
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 10px !important; /* Optional: round the corners */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Optional: apply a box shadow */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional: apply a border */
}

.ant-btn-dangerous {
  box-shadow: none !important;
}
