:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  /* background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label,
h1 {
  color: white !important;
}

.nav {
  background: transparent;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  ) !important;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

button {
  border-radius: 8px !important;
}

.form-container {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(50px) !important;
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 10px; /* Optional: round the corners */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Optional: apply a box shadow */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional: apply a border */
}

.form-item {
  width: 80%;
  color: white !important;
}

/* .form-item input {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
} */

.form-item input:placeholder {
  color: white !important;
}

/* .ant-select-selector {
  background: transparent !important;
  color: white !important;
} */

:where(.css-dev-only-do-not-override-1b0bdye).ant-select
  .ant-picker
  .ant-picker-suffix,
.ant-picker .ant-picker-clear,
.ant-picker-outlined,
.ant-select-selector,
.ant-select-arrow,
.ant-picker-separator,
.ant-input-outlined {
  color: white !important;
  background: transparent !important;
}
.ant-card-actions {
  color: white !important;
  background: transparent !important;
  border: none !important;
}

.ant-card-meta-description,
.ant-card-meta-title {
  color: white !important;
}

.ant-select-selection-placeholder,
.ant-picker-input > input::placeholder,
.ant-picker-suffix,
.ant-form-item-control-input-content input::placeholder {
  color: darkgrey !important;
}

.form-item input:focus {
  outline: none;
  /* color: darkgrey !important; */
  border-bottom: 1px solid #00ffff;
}

.heading {
  color: #00ffff !important;
}
li {
  border: none !important;
}

.ant-card-cover img {
  border-radius: 10px !important;
}

/* .ant-picker-dropdown .ant-picker-panel-container {
  background: transparent !important;
  border: white 1px solid;
}

.ant-picker-dropdown .ant-picker-header {
  color: white;
} */

.appointment-card {
  color: white !important;
  background: linear-gradient(
    109.6deg,
    rgb(20, 30, 48) 11.2%,
    rgb(36, 59, 85) 91.1%
  );
  /* background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */
  /* background: rgba(255, 255, 255, 0.1) !important; */
  backdrop-filter: blur(50px) !important;
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 10px !important; /* Optional: round the corners */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Optional: apply a box shadow */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional: apply a border */
}

.ant-btn-dangerous {
  box-shadow: none !important;
}

span {
  display: block;
}

.ant-empty .ant-empty-description {
  color: white !important;
}

@media (max-width: 768px) {
  .appointment-list-filter-container {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .appointment-list-view-container button {
    margin: 10px 0px 10px 0px;
  }

  .appointment-card-container {
    justify-content: center !important;
  }
}

/* .remarks-input {
  color: black !important;
} */

.span.ant-modal-confirm-title {
  color: white !important;
}
.remarks-input::placeholder {
  color: darkgrey !important;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-modal-confirm
  .ant-modal-confirm-title {
  color: white !important;
}

.ant-modal-content {
  /* background: radial-gradient(black, transparent) !important; */
  background: rgba(255, 255, 255, 0.1) !important;
  border: solid white 1px !important;
  backdrop-filter: blur(50px) !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .appointment-card-container {
    justify-content: center !important;
  }
}
